/* General Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    transition: all 0.3s ease;
}

/* Apply rounded corners and padding when scrolled */
.navbar.scrolled {
    border-radius: 30px;
    margin-left: 20px;
    /* Add margin on the left */
    margin-right: 20px;
    /* Add margin on the right */
    margin-top: 5px;
    /* Add margin on top */
    width: calc(100% - 40px);
    /* Ensure the navbar width adjusts with the margins */
    padding: 0.75rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    /* Smooth transition */
}


.navbar-brand a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-logo {
    height: 50px;
    width: auto;
    max-height: 100%;
}

/* Center the navigation menu items */
.navbar-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
    /* Smooth transition for zoom effect */
}

/* Hover effect for zoom */
.navbar-menu ul li a:hover {
    transform: scale(1.2);
    /* Zoom the link */
    color: #f39c12;
    /* Optional: Change color on hover */
}

/* Social icons styling */
.navbar-social {
    display: flex;
    align-items: center;
}

.navbar-social a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    /* Smooth transition for zoom effect */
}

/* Hover effect for social icons zoom */
.navbar-social a:hover {
    transform: scale(1.2);
    /* Zoom the icon */
    color: #f39c12;
    /* Optional: Change color on hover */
}

/* Navbar actions styling */
.navbar-actions {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
}

.dark-mode-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

/* For responsiveness */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu ul {
        flex-direction: column;
        display: none;
    }

    .navbar-menu.active ul {
        display: flex;
    }

    .navbar-social {
        display: none;
    }
}

/* Dark mode styles */
.dark {
    background-color: #121212;
    color: #ffffff;
}

.dark .navbar {
    background-color: rgba(18, 18, 18, 0.8);
}

.dark .navbar-menu ul li a {
    color: #ffffff;
}

.dark .navbar-social a {
    color: #ffffff;
}