@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: red;
    }
}

.typewriter {
    display: inline-block;
    font-family: monospace;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid red;
    /* Adjust to match text color */
    animation: typing 4s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}