@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: red;
    }
}

.typewriter {
    display: inline-block;
    font-family: monospace;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid red;
    /* Adjust to match text color */
    animation: typing 4s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Wave with staggered animation delays */
.wave-1 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 0s;
}

.wave-2 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 0.2s;
}

.wave-3 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
}

.wave-4 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 0.6s;
}

.wave-5 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 0.8s;
}

.wave-6 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 1s;
}

.wave-7 {
    animation: wave 1.5s ease-in-out infinite;
    animation-delay: 1.2s;
}