@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* index.css or global.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
}


/* Dark mode styles */
.dark body {
  background-color: #1a202c;
  /* Dark background color */
  color: #e2e8f0;
  /* Light text color */
=======
/* index.css */
html {
  --bg-color: white;
  --text-color: black;
  /* other light mode variables */
}

html.dark {
  --bg-color: #1a202c;
  /* Dark background */
  --text-color: #f7fafc;
  /* Light text color */
  /* other dark mode variables */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Apply dark mode styles to your components */
.project-card {
  background-color: var(--bg-color);
  color: var(--text-color);
>>>>>>> 860d077ad12e086a8eb55c502443a4f603030ec5
}